.log { 
    color: black; 
}
.warn { 
    background-color: lightyellow; 
    color: orange; 
}
.error { 
    background-color: lightcoral; 
    color: red; 
}
.group { 
    font-weight: bold; 
}
.group-end { 
    font-style: italic; 
}
table { 
    border-collapse: collapse; 
    margin-top: 10px; 
}
th, td { 
    border: 1px solid black; 
    padding: 5px; 
}
.custom { 
    font-size: 2em; 
}
.icon { 
    margin-right: 5px; 
}
body {
    font-family: 'Open Sans', sans-serif; 
    background-color: black; color: white; 
}
button {
    width: 200px; 
    height: 50px;
    background-color: #008f3b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#console-output {
    background-color: #747474;
    width: 100%;
    height: 400px;
    border-radius: 15px;
}
.code {
    width: 400px;
    background-color: #171717;
    text-align: center;
    border-radius: 10px;
}